body {
  transition: background-color 0.5s, color 0.5s;
  padding: 0 0 2rem 0;
}

body.dark {
  background-color: #333;
  color: #fff;
}


/* link layouting for dark and light modes */
body.dark a { 
  color: white;
  background-color: #333;
}

body:not(.dark) a {
  color: black;
  background-color: #fff;
}

footer {
  margin-top: 5rem;
}

.home_mid {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center; /* horizontal */
  padding: 1rem 2rem;
  gap: 8rem;
  margin-top: 4rem;
}

.disclaimer {
  font-size: 0.8rem;
  margin-top: 1rem;
  display: block;
  text-align: center;
  width: 100%;
}

.error {
  font-size: 0.8rem;
  margin: 5rem auto;
  display: block;
  text-align: center;
  width: 100%;
}

.home.list_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.badge .MuiBadge-badge {
  transform: translate(1.5rem, -.5rem);
}

.home.auteur {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.appbar {
  margin: 2rem 1rem;
  max-width: 98.5%;
}

.grid.vakken {
  margin: 4rem 1rem;
  max-width: 95.5%;
}

.bg-rood { background-color: rgb(229, 78, 78); }
.bg-groen { background-color: rgb(143, 232, 143); }
.bg-blauw { background-color: rgb(150, 195, 226); }
.bg-geel { background-color: rgb(249, 244, 84); }
.bg-grijs { background-color: rgb(235, 235, 235); }

.tag.title {
  transform: translateX(-1rem);
}

.search.results {
  margin: 1rem 0 0 0;
}

.opleidingen {
  padding: 1rem;
}